<!DOCTYPE html>
<html>
  <head>
    <title>Dropping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if current_user.present? && @current_dialog.present? %>
    <body id="bodyMain" data-userid="<%= current_user.id %>" data-curdialog="<%= @current_dialog.id %>">
  <% else %>
    <body>
  <% end %>
      <%= render partial: 'shared/header' %>
      <%= yield %>
    </body>
</html>
